# Built application files
*.apk
*.ap_

# Keystore files
*.jks

# Google Services (e.g. APIs or Firebase)
google-services.json

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
